$cor-primaria: #0077C2;
$cor-fundo: #E8F2FE;
$cor-fundo2: #FFFFFF;

$preto-transparent-30: #2D3B46;
$preto-transparent-20: #4F5B66;
$preto-transparent-03: #C0C5CE;
$preto-transparent-70: #172A3A;

$branco: $cor-fundo2;

/*
cores originais

$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: #FFF;

$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000033;
$preto-transparent-03: #00000008;
$preto-transparent-70: #000000b3;

$branco: $cor-fundo2;

*/
